<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<!-- EXAMPLE-SOURCE-START -->
	<h:form id="tabForm" style="width:1100px;">

		<p:growl id="message"></p:growl>

		<p:tabView activeIndex="#{tabViewManagedBean.index}">

			<p:tab title="SUMMARY">
				<f:facet name="actions">
					<div class="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-gear" id="bor" style="cursor: pointer"
								title="Background Operation Running" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bell" id="notif" style="cursor: pointer"
								title="Notifications" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bars" id="view" style="cursor: pointer"
								title="Views" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:menuButton value="admin" icon="fa fa-user"
								style="width:100%; font-size:10pt">
								<p:menuitem value="Setting" style="font-size:10pt" />
								<p:menuitem value="Manage YAVA" style="font-size:10pt" />
								<p:menuitem value="About" style="font-size:10pt" />
								<p:separator />
								<p:menuitem value="Sign Out" style="font-size:10pt" />
							</p:menuButton>
						</div>
					</div>
				</f:facet>
				<h:panelGrid columns="2" cellpadding="0" value="test"
					style="width:100%">
					<p:breadCrumb style="font-size:10pt; float:left; width:70%">
						<p:menuitem value="Breadcrumb" />
						<p:menuitem value="Services" />
						<p:menuitem value="MapReduce" />
						<p:menuitem value="Summary" />
					</p:breadCrumb>
					<h:panelGrid columns="2" cellpadding="0" value="test"
						style="width:30%; float:right">
						<p:menuButton value="Actions" style="font-size:10pt">
							<p:menuitem value="Start" icon="fa fa-arrow-circle-right"
								style="font-size:10pt" />
							<p:menuitem value="Stop" icon="fa fa-ban" style="font-size:10pt" />
							<p:menuitem value="Restart All" icon="fa fa-history"
								style="font-size:10pt" />
							<p:menuitem value="Move History Server" icon="fa fa-arrows"
								style="font-size:10pt" />
							<p:menuitem value="Run Service Check" icon="fa fa-check "
								style="font-size:10pt" />
							<p:menuitem value="Turn On Maintenance Mode" icon="fa fa-medkit"
								style="font-size:10pt" />
							<p:menuitem value="Download Client Configs"
								icon="fa fa-cloud-download" style="font-size:10pt" />
							<p:menuitem value="Delete Service" icon="fa fa-close (alias)"
								style="font-size:10pt" />
						</p:menuButton>
					</h:panelGrid>
				</h:panelGrid>

				<div class="ui-g">
					<div class="ui-g-12 ui-md-2">Component</div>
					<div class="ui-g-12 ui-md-10 ui-g-nopad">
						<div class="ui-g-12 ui-g-nopad">
							<div class="ui-g">
								<div class="ui-g">
									<div class="ui-g-12 ui-md-3">
										<div>
											<p:commandButton value="Started" id="historyserver"
												icon="ui-icon-circle-check" />
										</div>
										<div>
											<p:outputLabel value="History Server" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui-g">
					<div class="ui-g-12 ui-md-2"></div>
					<div class="ui-g-12 ui-md-10 ui-g-nopad">
						<div class="ui-g-12 ui-g-nopad">
							<div class="ui-g">
								<div class="ui-g-12 ui-md-4">
									<div>
										<p:outputLabel value="Installed" />
									</div>
									<div>
										<p:outputLabel value="MapReduce2 CLIENT" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:tab>


			<p:tab title="CONFIGS">
				<f:facet name="actions">
					<div class="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-gear" id="bor" style="cursor: pointer"
								title="Background Operation Running" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bell" id="notif" style="cursor: pointer"
								title="Notifications" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bars" id="view" style="cursor: pointer"
								title="Views" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:menuButton value="admin" icon="fa fa-user"
								style="width:100%; font-size:10pt">
								<p:menuitem value="Setting" style="font-size:10pt" />
								<p:menuitem value="Manage YAVA" style="font-size:10pt" />
								<p:menuitem value="About" style="font-size:10pt" />
								<p:separator />
								<p:menuitem value="Sign Out" style="font-size:10pt" />
							</p:menuButton>
						</div>
					</div>
				</f:facet>
				<h:panelGrid columns="2" cellpadding="0" value="test"
					style="width:100%">
					<p:breadCrumb style="font-size:10pt; float:left; width:70%">
						<p:menuitem value="Breadcrumb" />
						<p:menuitem value="Services" />
						<p:menuitem value="MapReduce" />
						<p:menuitem value="Config" />
					</p:breadCrumb>

					<h:panelGrid columns="2" cellpadding="0" value="test"
						style="width:30%; float:right">
						<p:menuButton value="Actions" style="font-size:10pt">
							<p:menuitem value="Start" icon="fa fa-arrow-circle-right"
								style="font-size:10pt" />
							<p:menuitem value="Stop" icon="fa fa-ban" style="font-size:10pt" />
							<p:menuitem value="Restart All" icon="fa fa-history"
								style="font-size:10pt" />
							<p:menuitem value="Move History Server" icon="fa fa-arrows"
								style="font-size:10pt" />
							<p:menuitem value="Run Service Check" icon="fa fa-check "
								style="font-size:10pt" />
							<p:menuitem value="Turn On Maintenance Mode" icon="fa fa-medkit"
								style="font-size:10pt" />
							<p:menuitem value="Download Client Configs"
								icon="fa fa-cloud-download" style="font-size:10pt" />
							<p:menuitem value="Delete Service" icon="fa fa-close (alias)"
								style="font-size:10pt" />
						</p:menuButton>
					</h:panelGrid>
				</h:panelGrid>


				<h:panelGrid columns="2" cellpadding="0" value="test"
					style="width:100%">
					<p:menuButton value="Version"
						style="font-size:10pt; float:left; width:65%" />
					<h:panelGrid columns="3" cellpadding="0" value="test"
						style="width:35%; float:right">
						<p:outputLabel value="Config Group"
							style="float:right; font-size:10pt; margin:0; padding:0" />
						<p:menuButton value="Default (3)"
							style="float:right; font-size:10pt; margin:0; padding:0">
							<p:menuitem value="Default (3)" style="font-size:10pt" />
							<p:menuitem value="Manage Config Groups" style="font-size:10pt" />
						</p:menuButton>
						<p:menuButton value="Filter"
							style="float:right; font-size:10pt; margin:0; padding:0">
							<p:menuitem value="Final Properties" style="font-size:10pt" />
							<p:menuitem value="Overridden Properties" style="font-size:10pt" />
							<p:menuitem value="Show Property Issues" style="font-size:10pt" />
						</p:menuButton>
					</h:panelGrid>
				</h:panelGrid>

				<p:tabView>
					<p:tab title="SETTING">
						<h3>MapReduce2</h3>

						<!-- <h7>MapReduce Framework</h7> -->

						<div class="ui-g">
							<div class="ui-g-8 ui-g-nopad">
								<div class="ui-g-6">
									<h5>Map Memory</h5>
									<h:panelGrid columns="1" style="margin-bottom: 10px">
										<p:inputText id="txt1" value="#{sliderview.number1}" />
										<p:slider for="txt1" step="1" maxValue="100" />
									</h:panelGrid>

								</div>
								<div class="ui-g-6">
									<h5>Reduce Memory</h5>
									<h:panelGrid columns="1" style="margin-bottom: 10px">
										<p:inputText id="txt2" value="#{sliderview.number3}" />
										<p:slider for="txt2" step="1" maxValue="100" />
									</h:panelGrid>
								</div>
								<div class="ui-g-12">
									<h5>AppMaster Memory</h5>
									<h:panelGrid columns="1" style="margin-bottom: 80px">
										<p:inputText id="txt4" value="#{sliderview.number5}" />
										<p:slider for="txt4" step="1" maxValue="100" />
									</h:panelGrid>
								</div>
							</div>
							<div class="ui-g-4">
								<h5>Sort Allocation Memory</h5>
								<h:panelGrid columns="1" style="margin-bottom: 10px">
									<p:inputText id="txt3" value="#{sliderview.number4}" />
									<p:slider for="txt3" step="1" maxValue="100" />
								</h:panelGrid>

							</div>
						</div>

					</p:tab>

					<p:tab title="ADVANCED">
						<p:accordionPanel multiple="true">
							<p:tab title="History Server">
								<h:panelGrid columns="2" cellpadding="10" style="width:100%">
									<h:outputText value="History Server host" />
									<h:outputText value="#{dataViewMAP.history}" />
									<h:outputText value="History Server heap size" />
									<p:inputTextarea value="#{dataViewMAP.jobSize}" rows="1"
										cols="10" style="width:45%" />
								</h:panelGrid>
							</p:tab>

							<p:tab title="Advance mapred-env">
								<h:panelGrid columns="2" cellpadding="10" style="width:95%">
									<h:outputText value="Mapreduce Log Dir Prefix" />
									<p:inputTextarea value="#{dataViewMAP.logDir}" rows="1"
										cols="20" style="width:100%" />
									<h:outputText value="Mapreduce PID Dir Prefix" />
									<p:inputTextarea value="#{dataViewMAP.pid}" rows="1" cols="5"
										style="width:100%" />
									<h:outputText value="mapred_user_nofile_limit" />
									<p:inputTextarea value="#{dataViewMAP.noFile}" rows="1"
										cols="5" style="width:100%" />
									<h:outputText value="mapred_user_nproc_limit" />
									<p:inputTextarea value="#{dataViewMAP.nproc}" rows="1" cols="5"
										style="width:100%" />
									<h:outputText value="mapred-env template" />
									<p:inputTextarea value="#{dataViewMAP.content}" rows="1"
										cols="5" style="width:100%" />
								</h:panelGrid>
							</p:tab>

							<p:tab title="Advanced mapred-site">
								<h:panelGrid columns="2" cellpadding="10" style="width:95%">
									<h:outputText value="mapreduce.admin.map.child.java.opts" />
									<p:inputTextarea value="#{dataViewMAP.mapChild}" rows="1"
										cols="34" style="width:100%" />
									<h:outputText value="mapreduce.admin.reduce.child.java.opts" />
									<p:inputTextarea value="#{dataViewMAP.reduceChild}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.admin.user.env" />
									<p:inputTextarea value="#{dataViewMAP.adminUser}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.am.max-attempts" />
									<p:inputTextarea value="#{dataViewMAP.max}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.application.classpath" />
									<p:inputTextarea value="#{dataViewMAP.classpath}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.application.framework.path" />
									<p:inputTextarea value="#{dataViewMAP.framework}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.cluster.acls.enabled" />
									<p:inputTextarea value="#{dataViewMAP.ACLS}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.cluster.administrators" />
									<p:inputTextarea value="#{dataViewMAP.admin}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.framework.name" />
									<p:inputTextarea value="#{dataViewMAP.fname}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.job.acl-modify-job" />
									<p:inputTextarea value="#{dataViewMAP.modifyJob}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.job.acl-view-job" />
									<p:inputTextarea value="#{dataViewMAP.viewJob}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.job.counters.max" />
									<p:inputTextarea value="#{dataViewMAP.counter}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.job.emit-timeline-data" />
									<p:inputTextarea value="#{dataViewMAP.timeline}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.job.queuename" />
									<p:inputTextarea value="#{dataViewMAP.queue}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="mapreduce.job.reduce.slowstart.completedmaps" />
									<p:inputTextarea value="#{dataViewMAP.slow}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.jobhistory.address" />
									<p:inputTextarea value="#{dataViewMAP.history}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.jobhistory.admin.acl" />
									<p:inputTextarea value="#{dataViewMAP.acl}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.jobhistory.bind-host" />
									<p:inputTextarea value="#{dataViewMAP.bindHost}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="Mapreduce JobHistory Done directory" />
									<p:inputTextarea value="#{dataViewMAP.done}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.jobhistory.http.policy" />
									<p:inputTextarea value="#{dataViewMAP.policy}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="Mapreduce JobHistory Intermediate Done directory" />
									<p:inputTextarea value="#{dataViewMAP.inter}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.jobhistory.recovery.enable" />
									<p:inputTextarea value="#{dataViewMAP.enable}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.jobhistory.recovery.store.class" />
									<p:inputTextarea value="#{dataViewMAP.store}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="mapreduce.jobhistory.recovery.store.leveldb.path" />
									<p:inputTextarea value="#{dataViewMAP.jobRe}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.jobhistory.webapp.address" />
									<p:inputTextarea value="#{dataViewMAP.webapp}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="MR Map Java Heap Size" />
									<p:inputTextarea value="#{dataViewMAP.javaOpts}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.map.log.level" />
									<p:inputTextarea value="#{dataViewMAP.logLevel}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.map.output.compress" />
									<p:inputTextarea value="#{dataViewMAP.outcom}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.map.sort.spill.percent" />
									<p:inputTextarea value="#{dataViewMAP.spill}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.map.speculative" />
									<p:inputTextarea value="#{dataViewMAP.speculative}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="mapreduce.output.fileoutputformat.compress" />
									<p:inputTextarea value="#{dataViewMAP.compress}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="mapreduce.output.fileoutputformat.compress.type" />
									<p:inputTextarea value="#{dataViewMAP.comType}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.reduce.input.buffer.percent" />
									<p:inputTextarea value="#{dataViewMAP.buffer}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="MR Reduce Java Heap Size" />
									<p:inputTextarea value="#{dataViewMAP.javaSize}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.reduce.log.level" />
									<p:inputTextarea value="#{dataViewMAP.logLevel}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="mapreduce.reduce.shuffle.fetch.retry.enabled" />
									<p:inputTextarea value="#{dataViewMAP.reEnable}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="mapreduce.reduce.shuffle.fetch.retry.interval-ms" />
									<p:inputTextarea value="#{dataViewMAP.reIn}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText
										value="mapreduce.reduce.shuffle.fetch.retry.timeout-ms" />
									<p:inputTextarea value="#{dataViewMAP.reTime}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText
										value="mapreduce.reduce.shuffle.input.buffer.percent" />
									<p:inputTextarea value="#{dataViewMAP.BPercent}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.reduce.shuffle.merge.percent" />
									<p:inputTextarea value="#{dataViewMAP.MPercent}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.reduce.shuffle.parallelcopies" />
									<p:inputTextarea value="#{dataViewMAP.shuffel}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="mapreduce.reduce.speculative" />
									<p:inputTextarea value="#{dataViewMAP.spec}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.shuffle.port" />
									<p:inputTextarea value="#{dataViewMAP.port}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.task.io.sort.factor" />
									<p:inputTextarea value="#{dataViewMAP.sort}" rows="1" cols="30"
										style="width:100%" />
									<h:outputText value="mapreduce.task.timeout" />
									<p:inputTextarea value="#{dataViewMAP.timeout}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="yarn.app.mapreduce.am.admin-command-opts" />
									<p:inputTextarea value="#{dataViewMAP.command}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="MR AppMaster Java Heap Size" />
									<p:inputTextarea value="#{dataViewMAP.appCommand}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="yarn.app.mapreduce.am.log.level" />
									<p:inputTextarea value="#{dataViewMAP.amLog}" rows="1"
										cols="30" style="width:100%" />
									<h:outputText value="YARN App Mapreduce AM Staging directory" />
									<p:inputTextarea value="#{dataViewMAP.amStaging}" rows="1"
										cols="30" style="width:100%" />
								</h:panelGrid>
							</p:tab>

						</p:accordionPanel>
					</p:tab>
				</p:tabView>
			</p:tab>

			<p:tab title="DOCS">
				<h:form>
					<p:growl id="message"></p:growl>

					<p:tabView activeIndex="#{tabViewManagedBean.index}">

						<p:tab title="hbase-site">

							<h:panelGrid columns="2" cellpadding="5">
								<p:outputLabel value="Type: " />
								<p:outputLabel value="#{mAPREDUCEView.type}"></p:outputLabel>

								<p:outputLabel value="clusterName: " />
								<p:outputLabel value="#{mAPREDUCEView.clusterName}"></p:outputLabel>

								<p:outputLabel value="stackId: " />
								<p:outputLabel value="#{mAPREDUCEView.stackId}"></p:outputLabel>

								<p:outputLabel value="version: " />
								<p:outputLabel value="#{mAPREDUCEView.version}"></p:outputLabel>

								<p:outputLabel value="Tag: " />
								<p:outputLabel value="#{mAPREDUCEView.tag}"></p:outputLabel>

							</h:panelGrid>

							<p:dataTable var="productEntry"
								value="#{mAPREDUCEView.properties}">
								<p:column>
									<h:outputText value="#{productEntry.key}" />
								</p:column>
								<p:column>
									<h:outputText value="#{productEntry.value}" />
								</p:column>
							</p:dataTable>


						</p:tab>



						<p:tab title="mapred-env">
							<p:dataTable var="entry"
								value="#{mAPREDUCEView.getProperties('mapred-env')}">
								<p:column>
									<h:outputText value="#{entry.key}" />
								</p:column>
								<p:column>
									<h:outputText value="#{entry.value}" />
								</p:column>
							</p:dataTable>
						</p:tab>


						<p:tab title="Coba">
							<h:panelGrid rows="2" cellpadding="10" style="width:100%">
								<h:outputText value="#{dataViewMAP.history}" />
								<h:outputText value="#{dataViewMAP.mapred}" />
								<h:outputText value="#{viewEJB.jobHistory}" />
								<h:outputText value="Test" />
							</h:panelGrid>
							<!--<h:outputText>TEST</h:outputText>  -->
							<!-- <p:dataTable var="entry"
									value="#{hbaseView.getProperties('ranger-hbase-policymgr-ssl')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>  -->
						</p:tab>

					</p:tabView>
				</h:form>

			</p:tab>

		</p:tabView>
	</h:form>


</ui:composition>