<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<!-- EXAMPLE-SOURCE-START -->
	<h:form id="tabForm" style="width:100%;">
		<p:growl id="message"></p:growl>
		<p:tabView activeIndex="#{tabViewManagedBean.index}">
			<p:tab title="SUMMARY">
				<f:facet name="actions">
					<div class="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-gear" id="bor" style="cursor: pointer"
								title="Background Operation Running" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bell" id="notif" style="cursor: pointer"
								title="Notifications" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bars" id="view" style="cursor: pointer"
								title="Views" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:menuButton value="admin" icon="fa fa-user"
								style="width:100%; font-size:10pt">
								<p:menuitem value="Setting" style="font-size:10pt" />
								<p:menuitem value="Manage YAVA" style="font-size:10pt" />
								<p:menuitem value="About" style="font-size:10pt" />
								<p:separator />
								<p:menuitem value="Sign Out" style="font-size:10pt" />
							</p:menuButton>
						</div>
					</div>
				</f:facet>
				<p:breadCrumb style="font-size:10pt">
					<p:menuitem value="Breadcrumb" />
					<p:menuitem value="Services" />
					<p:menuitem value="YARN" />
					<p:menuitem value="Summary" />
				</p:breadCrumb>
				<div class="ui-g">
					<div class="ui-g-12 ui-md-2">Component</div>
					<div class="ui-g-12 ui-md-10 ui-g-nopad">
						<div class="ui-g-12 ui-g-nopad">
							<div class="ui-g">
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="Started"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="TIMELINE SERVICE V1.5"></p:outputLabel>
									</div>
								</div>
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="Started"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="RESOUCEMANAGER"></p:outputLabel>
									</div>
								</div>
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="Started"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="TIMELINE SERVICE V2.0 READER"></p:outputLabel>
									</div>
								</div>
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="Started"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="YARN REGISTER DNS"></p:outputLabel>
									</div>
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="1/1 Started"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="YARN REGISTER DNS"></p:outputLabel>
									</div>
								</div>
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="1 Installed"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="YARN CLIENT"></p:outputLabel>
									</div>
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="2d 23h 57m"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="RESOURCEMANAGER UPTIME"></p:outputLabel>
									</div>
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-12 ui-md-3">
									<h5>NODEMANAGER STATUS</h5>
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="1"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="Active"></p:outputLabel>
									</div>
								</div>
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="0"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="Lost"></p:outputLabel>
									</div>
								</div>
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="0"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="Unhealthy"></p:outputLabel>
									</div>
								</div>
								<div class="ui-g-12 ui-md-3">
									<div>
										<p:outputLabel value="0"></p:outputLabel>
									</div>
									<div>
										<p:outputLabel value="Rebooted"></p:outputLabel>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:tab>
			<p:tab title="HEATMAPS">
				<f:facet name="actions">
					<div class="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-gear" id="bor" style="cursor: pointer"
								title="Background Operation Running" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bell" id="notif" style="cursor: pointer"
								title="Notifications" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bars" id="view" style="cursor: pointer"
								title="Views" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:menuButton value="admin" icon="fa fa-user"
								style="width:100%; font-size:10pt">
								<p:menuitem value="Setting" style="font-size:10pt" />
								<p:menuitem value="Manage YAVA" style="font-size:10pt" />
								<p:menuitem value="About" style="font-size:10pt" />
								<p:separator />
								<p:menuitem value="Sign Out" style="font-size:10pt" />
							</p:menuButton>
						</div>
					</div>
				</f:facet>
				<p:breadCrumb style="font-size:10pt">
					<p:menuitem value="Breadcrumb" />
					<p:menuitem value="Services" />
					<p:menuitem value="YARN" />
					<p:menuitem value="Heatmaps" />
				</p:breadCrumb>
				<h:form>
					<p:growl id="messages" />
					<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
						<p:splitButton id="basic" value="SELECT METRIC"
							actionListener="#{buttonView.save}" update="messages">
							<p:menuitem value="Update" actionListener="#{buttonView.update}"
								update="messages" icon="ui-icon-arrowrefresh-1-w" />
							<p:menuitem value="Delete" actionListener="#{buttonView.delete}"
								ajax="false" icon="ui-icon-close" />
							<p:separator />
							<p:menuitem value="Homepage" url="http://www.primefaces.org"
								icon="ui-icon-extlink" />
						</p:splitButton>
					</h:panelGrid>
					<!-- <p:commandButton value="Started" id="withIcon" icon="ui-icon-circle-check" style="color:White;background:Red;"/>
		       <p:commandButton value="Started" id="withIcon" icon="ui-icon-circle-check" style="background:Red;"/>
		       <p:commandButton id="withIcon" icon="ui-icon-circle-check" style="color:White;background:Red;"/> -->

					<div class="ui-g">
						<div class="ui-g-12 ui-md-4">
							<div>
								<p:commandButton value="-" style="background:Lightgreen;" />
								<p:outputLabel value="0% - 20%"></p:outputLabel>
							</div>
							<div>
								<p:commandButton value="-" style="background:Green;" />
								<p:outputLabel value="20 - 40%"></p:outputLabel>
							</div>
							<div>
								<p:commandButton value="-" style="background:Yellow;" />
								<p:outputLabel value="40% - 60%"></p:outputLabel>
							</div>
							<div>
								<p:commandButton value="-" style="background:Orange;" />
								<p:outputLabel value="60% - 80%"></p:outputLabel>
							</div>
							<div>
								<p:commandButton value="-" style="background:Red;" />
								<p:outputLabel value="80% - 100%"></p:outputLabel>
							</div>
							<div>
								<p:commandButton value="-" style="background:Grey;" />
								<p:outputLabel value="Invalid data"></p:outputLabel>
							</div>
							<div>
								<p:commandButton value="-" style="background:Black;" />
								<p:outputLabel value="Data Not Available"></p:outputLabel>
							</div>
							<div>
								<p:commandButton value="-" style="background:Lightgrey;" />
								<p:outputLabel value="Not Applicable"></p:outputLabel>
							</div>
						</div>
					</div>
					<div>
						<p:outputLabel value="Maximum:"></p:outputLabel>
					</div>
					<div>
						<div class="ui-g ui-fluid">
							<div class="ui-g-12 ui-md-4">
								<div class="ui-inputgroup">
									<p:inputText placeholder="100" />
									<p:commandButton value="%" styleClass="white-button" />
								</div>
							</div>
						</div>
					</div>

				</h:form>
			</p:tab>
			<p:tab title="CONFIGS">
				<f:facet name="actions">
					<div class="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-gear" id="bor" style="cursor: pointer"
								title="Background Operation Running" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bell" id="notif" style="cursor: pointer"
								title="Notifications" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bars" id="view" style="cursor: pointer"
								title="Views" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:menuButton value="admin" icon="fa fa-user"
								style="width:100%; font-size:10pt">
								<p:menuitem value="Setting" style="font-size:10pt" />
								<p:menuitem value="Manage YAVA" style="font-size:10pt" />
								<p:menuitem value="About" style="font-size:10pt" />
								<p:separator />
								<p:menuitem value="Sign Out" style="font-size:10pt" />
							</p:menuButton>
						</div>
					</div>
				</f:facet>
				<p:breadCrumb style="font-size:10pt">
					<p:menuitem value="Breadcrumb" />
					<p:menuitem value="Services" />
					<p:menuitem value="YARN" />
					<p:menuitem value="Config" />
				</p:breadCrumb>
				<p:tabView>
					<p:tab title="SETTINGS">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-10 ui-g-nopad">
								<div class="ui-g-12 ui-g-nopad">
									<div class="ui-g">
										<div class="ui-g-12 ui-md-8">
											<p:panel id="basic" header="Memory"
												style="margin-bottom:10px">
												<h:panelGrid columns="1" style="margin-bottom: 10px">
													<p:inputText id="txt3" value="#{sliderView.number5}" />
													<p:slider for="txt3" step="10" maxValue="100" />
												</h:panelGrid>
											</p:panel>
										</div>
										<div class="ui-g-12 ui-md-4">
											<p:panel id="basic2" header="YARN Features"
												style="margin-bottom:20px">
												<h:panelGrid columns="2" cellpadding="10">

												</h:panelGrid>
											</p:panel>
										</div>
									</div>
								</div>
							</div>
						</div>
					</p:tab>
					<p:tab title="ADVANCED">
						<p:accordionPanel>
							<p:tab title="yarn-site">

								<h:panelGrid columns="2" cellpadding="5">
								
									
									<h:outputText value="Type: " />
									<p:inputText value="#{yarnViewBlauwe.type}"></p:inputText>

									<h:outputText value="clusterName: " />
									<p:inputText value="#{yarnViewBlauwe.clusterName}"></p:inputText>

									<h:outputText value="stackId: " />
									<p:inputText value="#{yarnViewBlauwe.stackId}"></p:inputText>

									<h:outputText value="version: " />
									<p:inputText value="#{yarnViewBlauwe.version}"></p:inputText>

									<h:outputText value="Tag: " />
									<p:inputText value="#{yarnViewBlauwe.tag}"></p:inputText>


								</h:panelGrid>

								<p:dataTable var="productEntry" value="#{yarnViewBlauwe.properties}">
									<p:column>
										<h:outputText value="#{productEntry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{productEntry.value}" />
									</p:column>
								</p:dataTable>


							</p:tab>



							<p:tab title="yarn-env">

								<h:panelGrid columns="2" cellpadding="5">
									<h:outputText value="Type: " />
									<p:inputText value="#{dataView.type}"></p:inputText>

									<h:outputText value="Tag: " />
									<p:inputText value="#{dataView.tag}"></p:inputText>

									<h:outputText value="is_supported_yarn_ranger: " />
									<p:inputText value="#{dataView.supported}"></p:inputText>

									<h:outputText value="service_check.queue.name: " />
									<p:inputText value="#{dataView.check}"></p:inputText>

									<h:outputText value="YARN Log Dir Prefix: " />
									<p:inputText value="#{dataView.yarnLog}"></p:inputText>

									<h:outputText value="YARN PID Dir Prefix: " />
									<p:inputText value="#{dataView.yarnPid}"></p:inputText>

									<h:outputText value="yarn_user_nofile_limit: " />
									<p:inputText value="#{dataView.nofileLimit}"></p:inputText>

									<h:outputText value="yarn_user_nproc_limit: " />
									<p:inputText value="#{dataView.nprocLimit}"></p:inputText>

								</h:panelGrid>

								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('yarn-env')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>

							</p:tab>

							<p:tab title="container-executor">
							
							<h:panelGrid columns="2" cellpadding="5">
									<h:outputText value="CGroup Root Path: " />
									<p:inputText value="#{dataView.CGroup}"></p:inputText>

									<h:outputText value="Docker Allowed Devices: " />
									<p:inputText value="#{dataView.dockerDevices}"></p:inputText>

									<h:outputText value="Docker Allowed Read-only Mounts: " />
									<p:inputText value="#{dataView.dockerReadOnly}"></p:inputText>

									<h:outputText value="Docker Allowed Read-write Mounts: " />
									<p:inputText value="#{dataView.dockerReadWriter}"></p:inputText>

									<h:outputText value="Docker Allowed Volume-drivers: " />
									<p:inputText value="#{dataView.dockerVolumeDrivers}"></p:inputText>

									<h:outputText value="Docker Binary: " />
									<p:inputText value="#{dataView.dockerBinary}"></p:inputText>

									<h:outputText value="Minimum user ID for submitting job: " />
									<p:inputText value="#{dataView.minimumUser}"></p:inputText>

									<h:outputText value="Yarn CGroup Hierarchy: " />
									<p:inputText value="#{dataView.yarnCGroup}"></p:inputText>
								</h:panelGrid>
							
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('container-executor')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:inputText value="#{entry.value}" />
										<p:commandButton value="Submit" icon="pi pi-save" />
									</p:column>
								</p:dataTable>

							</p:tab>

							<p:tab title="ranger-yarn-plugin-properties">
								<p:dataTable var="entry"
									value="#{yarnView.getProperties('ranger-yarn-plugin-properties')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="ranger-yarn-policymgr-ssl">
								<p:dataTable var="entry"
									value="#{yarnView.getProperties('ranger-yarn-policymgr-ssl')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="resource-types">

								<p:dataTable var="entry"
									value="#{yarnView.getProperties('resource-types')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>

							</p:tab>
							<p:tab title="yarn-hbase-env">
							
							<h:panelGrid columns="2" cellpadding="5">
									<h:outputText value="hbase_java_io_tmpdir: " />
									<p:inputText value="#{dataView.hbaseTmpdir}"></p:inputText>

									<h:outputText value="is_hbase_system_service_launch: " />
									<p:inputText value="#{dataView.hbaseSystemServiceLaunch}"></p:inputText>

									<h:outputText value="yarn_hbase_client_containers: " />
									<p:inputText value="#{dataView.hbaseContainers}"></p:inputText>

									<h:outputText value="yarn_hbase_client_cpu: " />
									<p:inputText value="#{dataView.hbaseCPU}"></p:inputText>

									<h:outputText value="yarn_hbase_client_memory: " />
									<p:inputText value="#{dataView.hbaseClientMemory}"></p:inputText>

									<h:outputText value="yarn_hbase_heap_memory_factor: " />
									<p:inputText value="#{dataView.hbaseHeap}"></p:inputText>

									<h:outputText value="yarn_hbase_master_containers: " />
									<p:inputText value="#{dataView.hbaseMasterContainers}"></p:inputText>

									<h:outputText value="yarn_hbase_master_cpu: " />
									<p:inputText value="#{dataView.hbaseMasterCpu}"></p:inputText>

									<h:outputText value="yarn_hbase_master_memory: " />
									<p:inputText value="#{dataView.hbaseMasterMemory}"></p:inputText>

									<h:outputText value="HBase PID Dir: " />
									<p:inputText value="#{dataView.HBasePIDDir}"></p:inputText>

									<h:outputText value="yarn_hbase_regionserver_containers: " />
									<p:inputText value="#{dataView.hbaseRegionserverContainers}"></p:inputText>

									<h:outputText value="yarn_hbase_regionserver_cpu: " />
									<p:inputText value="#{dataView.hbaseRegionserverCpu}"></p:inputText>

									<h:outputText value="yarn_hbase_regionserver_memory: " />
									<p:inputText value="#{dataView.hbaseRegionserverMemory}"></p:inputText>

									<h:outputText value="yarn_hbase_system_service_launch_mode: " />
									<p:inputText value="#{dataView.hbaseSSLaunchMode}"></p:inputText>

									<h:outputText value="yarn_hbase_system_service_queue_name: " />
									<p:inputText value="#{dataView.hbaseSSQueueName}"></p:inputText>

									<h:outputText value="hbase-env template: " />
									<p:inputTextarea cols="85" value="#{dataView.hbaseEnvContent}"></p:inputTextarea>

								</h:panelGrid>
							
								<p:dataTable var="entry"
									value="#{yarnView.getProperties('yarn-hbase-env')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="yarn-hbase-log4j">
								<h:panelGrid columns="2" cellpadding="5">
									<h:outputText value="HBase Log: # of backup files: " />
									<p:inputText value="#{dataView.HBaseLogBfiles}"></p:inputText>

									<h:outputText value="HBase Log: backup file size: " />
									<p:inputText value="#{dataView.HBaseLogBfs}"></p:inputText>

									<h:outputText value="HBase Security Log: # of backup files: " />
									<p:inputText value="#{dataView.HBaseSecurityLogBfiles}"></p:inputText>

									<h:outputText value="HBase Security Log: backup file size: " />
									<p:inputText value="#{dataView.HBaseSecurityLogBfs}"></p:inputText>

									<h:outputText value="Content: " />
									<p:inputTextarea cols="85"
										value="#{dataView.contentHbaselog4j}"></p:inputTextarea>


								</h:panelGrid>

								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('yarn-hbase-log4j')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="yarn-hbase-policy">
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('yarn-hbase-policy')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="yarn-log4j">
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('yarn-log4j')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="yarn-hbase-site">
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('yarn-hbase-site')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="ranger-yarn-audit">
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('ranger-yarn-audit')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="ranger-yarn-security">
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('ranger-yarn-security')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="yarn-site">
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('yarn-site')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="capacity-scheduler">
								<p:dataTable var="entry"
									value="#{yarnViewBlauwe.getProperties('capacity-scheduler')}">
									<p:column>
										<h:outputText value="#{entry.key}" />
									</p:column>
									<p:column>
										<h:outputText value="#{entry.value}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab title="yarn-coba">
								<h:panelGrid columns="2" cellpadding="5">
									<h:outputText value="Minimum User ID:" />
									<p:inputText value="#{cobaYa.minimumUser}"></p:inputText>
								</h:panelGrid>
							</p:tab>
						</p:accordionPanel>
					</p:tab>
				</p:tabView>

			</p:tab>
			<p:tab title="METRICS">
				<f:facet name="actions">
					<div class="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-gear" id="bor" style="cursor: pointer"
								title="Background Operation Running" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bell" id="notif" style="cursor: pointer"
								title="Notifications" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-2">
							<i class="fa fa-bars" id="view" style="cursor: pointer"
								title="Views" />

						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:menuButton value="admin" icon="fa fa-user"
								style="width:100%; font-size:10pt">
								<p:menuitem value="Setting" style="font-size:10pt" />
								<p:menuitem value="Manage YAVA" style="font-size:10pt" />
								<p:menuitem value="About" style="font-size:10pt" />
								<p:separator />
								<p:menuitem value="Sign Out" style="font-size:10pt" />
							</p:menuButton>
						</div>
					</div>
				</f:facet>

				<h:panelGrid columns="2" cellpadding="0" value="test"
					style="width:100%">
					<p:breadCrumb style="font-size:10pt;float:left;width:60%">
						<p:menuitem value="Breadcrumb" />
						<p:menuitem value="Services" />
						<p:menuitem value="YARN" />
						<p:menuitem value="Metrics" />
					</p:breadCrumb>

					<h:panelGrid columns="2" cellpadding="0" value="test"
						style="font-size:10pt;width:40%;float:right">
						<p:button value="Action" icon="fa fa-star"
							style="font-size:10pt;float:right">
							<f:param name="Metric" />
						</p:button>
						<p:button value="Last" icon="fa fa-dropdown" style="float:right">
							<f:param name="Last" />
						</p:button>
					</h:panelGrid>

				</h:panelGrid>



				<div style="height: 500px; width: 100%">
					<h:form>
						<p:growl id="msgs" showDetail="true" />

						<p:dashboard id="board" model="#{yarnMetricView.model}">
							<p:ajax event="reorder"
								listener="#{yarnMetricView.handleReorder}" update="msgs" />

							<p:panel id="memoryUsage" header="Memory Usage"
								style="height:150px;margin:10px;width:230px">
								<p:chart id="pie" type="pie" model="#{chartView.pieModel1}"
									style="height:120px" />
								<p:poll interval="1" update="pie" />
							</p:panel>

							<p:panel id="clusterLoad" header="Cluster Load"
								style="height:150px;margin:10px;width:230px">
								<h:outputText value="Finance Content" />
							</p:panel>

							<p:panel id="networkUsage" header="Network Usage"
								style="height:150px;margin:10px;width:230px">
								<h:outputText value="Lifestyle Content" />
							</p:panel>

							<p:panel id="HDFSDiskUsage" header="HDFS Disk Usage"
								style="height:150px;margin:10px;width:230px">
								<h:outputText value="Weather Content" />
							</p:panel>

							<p:panel id="nameNodeHeap" header="NameNode Heap"
								style="height:150px;margin:10px;width:230px">
								<h:outputText value="Politics Content" />
							</p:panel>

							<p:panel id="nameNodeCPUWIO" header="NameNode CPU WIO"
								style="height:150px;margin:10px;width:230px">
								<h:outputText value="Politics Content" />
							</p:panel>

							<p:panel id="CPUUsage" header="CPU Usage"
								style="height:150px;margin:10px;width:230px">
								<h:outputText value="Politics Content" />
							</p:panel>

							<p:panel id="resourceManageHeap" header="Resource Manage Heap"
								style="height:150px;margin:10px;width:230px">
								<h:outputText value="Politics Content" />
							</p:panel>

						</p:dashboard>

						<div style="clear: both" />
					</h:form>
				</div>

			</p:tab>

		</p:tabView>
	</h:form>

</ui:composition>

