<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<!--  <f:view contentType="text/html" locale="en">-->
	<pe:head title="YAVA Solusi 247"
		shortcutIcon="#{request.contextPath}/favicon.ico">

	</pe:head>
	<h:body>

		<h:form id="mainForm">

			<pe:layout id="fullPage" options="#{fullLayout.layoutOptions}"
				stateCookie="true" widgetVar="fpLayoutWidget">

				<!-- Layout di Tengah Tampilan -->

				<pe:layoutPane position="center">
					<pe:layoutPane position="center">
						<p:growl id="growl" life="2000" />
						<p:outputPanel id="myPanel">
							<ui:include
								src="/sections/includes/#{menuContentBean2.page}.xhtml" />
						</p:outputPanel>
						<p:messages id="msg" showDetail="true" showSummary="true">
							<p:effect type="pulsate" event="load" delay="0">
								<f:param name="mode" value="'show'" />
								<f:param name="times" value="'1'" />
							</p:effect>
						</p:messages>
					</pe:layoutPane>
				</pe:layoutPane>

				<!-- Menu Navbar Utama -->
				<pe:layoutPane position="west" >
				<!-- pe:layoutPane position="west" size="200" resizable="false" closable="true" collapsible="true" > -->
					<pe:layoutPane position="center">
						<!-- Logo YAVA -->
						<h:panelGrid width="100%">
							<f:facet name="header">
								<img src="img/YAVA.png" alt="Logo YAVA"
									style="width: 33px; height: 38.1px; vertical-align: middle" />
								<h:outputText value="Ambari"
									style="font-size:14pt; vertical-align: middle;" />
							</f:facet>
						</h:panelGrid>

						<!-- Jenis-Jenis Menu -->
						<p:menu toggleable="true" style="width:185px;">
							<p:menuitem update="myPanel"
								action="#{menuContentBean2.setPage('dashboard2')}"
								value="&#160; Dashboard" icon="fa fa-home" />
								
							<p:submenu label="Services" icon="fa fa-briefcase">
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('hdfsView')}" value="HDFS"
									icon="fa fa-dot-circle" style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('yarnView')}" value="YARN"
									icon="fa fa-dot-circle" style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('mapreduceView')}"
									value="MAPREDUCE" icon="fa fa-dot-circle"
									style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('hbaseView')}" value="HBase"
									icon="fa fa-dot-circle" style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('zookeeperView2')}"
									value="Zookeeper" icon="fa fa-dot-circle"
									style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('tezView')}" value="Tez"
									icon="fa fa-dot-circle" style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('sqoopView')}" value="Sqoop"
									icon="fa fa-dot-circle" style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('pigView')}" value="Pig"
									icon="fa fa-dot-circle" style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('kafkaView')}" value="Kafka"
									icon="fa fa-dot-circle" style="font-size: 12pt" />
							</p:submenu>

							<p:menuitem update="myPanel"
								action="#{menuContentBean2.setPage('Hosts')}"
								value="&#160; Hosts" icon="fa fa-list"  />
							<p:menuitem update="myPanel"
								action="#{menuContentBean2.setPage('Alerts')}"
								value="&#160; Alerts" icon="fa fa-bell" />
							<p:submenu label="Cluster Admins" icon="fa fa-tasks">
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('Stack')}"
									value="&#160; Stacks and Version" icon="fa fa-dot-circle-o"
									style="font-size: 12pt" />
								
								<!-- not running, not available function -->
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('#')}"
									value="&#160; Service Accounts" icon="fa fa-dot-circle-o"
									style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('Kerberos')}"
									value="&#160; Kerberos" icon="fa fa-dot-circle-o"
									style="font-size: 12pt" />
								<p:menuitem update="myPanel"
									action="#{menuContentBean2.setPage('#')}"
									value="&#160; Service Auto Start" icon="fa fa-dot-circle-o"
									style="font-size: 12pt" />
							</p:submenu>
						</p:menu>
					</pe:layoutPane>
				</pe:layoutPane>
			</pe:layout>

		</h:form>

		<h:outputStylesheet library="css" name="global.css" />

		<h:outputStylesheet id="layoutCSS">
	    	body {
	        	margin: 4px !important;
	    	}
			</h:outputStylesheet>

	</h:body>

<!-- </f:view>  -->

</html>
